<h1>Batches</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Duration</th>
      <th>start_date</th>
      <th>end_date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @batches %>
  </tbody>
</table>
<% if can?(:new, Batch)%>
  <%= link_to 'Add Batch', new_course_batch_path(@course) %>
<% end %>
